@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
<figure class="polaroid tilt-right">
	<img
		class="polaroid-photo"
		src="/api/camera/stream?host=192.168.180.134"
		alt="Camera for Bert's Ultimaker' (192.168.180.134)"/>
	<figcaption>
		Bert's Ultimaker <span class="text-muted">(192.168.180.134)</span>
	</figcaption>
</figure>